<h1>Vehicle Component</h1>
<mat-divider></mat-divider>
<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<div class="container-content-footer">
    <ng-container *ngIf="data$ | async as data else loading">
        <!-- <app-customer  [data$]="customer$" (onCustomerFormEmitter)="onCustomerFormHandler($event)"></app-customer> -->
        <app-vehicle [data$]="vehicle$" (onVehicleFormEmitter)="onVehicleFormHandler($event)"></app-vehicle>
        <!-- <app-other [data$]="other$" (onOtherFormEmitter)="onOtherFormHandler($event)"></app-other> -->
        <!-- <footer>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="saveButtonStatus$ | async" >Save</button>
        <button mat-raised-button color="primary" (click)="discard()" [disabled]="discardBtnStatus$ | async" >Discard</button>
        <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
    </footer> -->
    </ng-container>
    <!-- <mat-card-actions class="actions">
        <div class="btns button-row">
            <button mat-raised-button color="primary" (click)="save()">Save</button>
            <button mat-raised-button color="primary" (click)="discard()">Discard</button>
            <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
        </div>
    </mat-card-actions> -->
    <app-footer></app-footer>
</div>