<!-- <mat-form-field appearance="fill">
    <mat-label>Select food category</mat-label>
    <mat-select [(value)]="selectedCategory">
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field> -->
<!-- <mat-slide-toggle (change)="" >Mixed</mat-slide-toggle> -->

<h2>VEG</h2>
<div class="parentAndFirstlevelDiv">
    <div>Milk</div>
    <div>Curd</div>
    <div>Bread</div>
    <div>ButterMilk</div>
</div>
<!-- <mat-divider></mat-divider>
<h2>NON-VEG</h2>
<div class="parentAndFirstlevelDiv">
    <div>Egg</div>
    <div>Pork</div>
    <div *ngIf="selectedCategory == 'mix'">
        <div>Chiken</div>
        <div>Fish</div>
    </div>
</div> -->