<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="blog$ | async as blog else loading">
    <form class="form">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Ex. Pizza" value="{{blog.title}}">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Category</mat-label>
            <input matInput placeholder="Ex. Pizza" value="{{blog.category}}">
        </mat-form-field>
    </form>
    <br>
    <section>
          <a color="primary" mat-raised-button routerLink="/dashboard">Go to DashBoard</a>
      </section>
</ng-container>
