<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Angular Practicals</h1>
    <span class="spacer"></span>
    <app-logout></app-logout>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <app-tree></app-tree>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-card class="card">
          <mat-card-header>
            <ng-container *ngIf="routeData$ |async as routeData">
              <mat-card-title>{{routeData.text}}</mat-card-title>
            </ng-container>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <router-outlet></router-outlet>
          </mat-card-content>
        </mat-card>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
