<!-- <ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="data$|async as user else loading">
  <form class="form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Pizza" value="{{user.name}}">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput placeholder="Ex. Pizza" value=" {{user.age}}">
    </mat-form-field>
  </form>
  </ng-container> -->
  <!-- @if (data$ | async; as user) {
    <form class="form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Pizza" [value]="user.name">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Ex. Pizza" [value]="user.age">
      </mat-form-field>
    </form>
  } @else {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } -->

@if (user.isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else if (user.hasValue()) {
  <form class="form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Pizza" [value]="user.value().name">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput placeholder="Ex. Pizza" [value]="user.value().age">
    </mat-form-field>
  </form>
}
