
<h1>Good Component Design</h1>
<mat-divider></mat-divider>
@if (data$ | async; as data) {
  <ng-container>
    <app-customer  [data$]="customer$" (onCustomerFormEmitter)="onCustomerFormHandler($event)"></app-customer>
    <app-vehicle  [data$]="vehicle$" (onVehicleFormEmitter)="onVehicleFormHandler($event)"></app-vehicle>
    <app-other [data$]="other$" (onOtherFormEmitter)="onOtherFormHandler($event)"></app-other>
    <footer>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="saveButtonStatus$ | async" >Save</button>
      <button mat-raised-button color="primary" (click)="discard()" [disabled]="discardBtnStatus$ | async" >Discard</button>
      <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
    </footer>
  </ng-container>
} @else {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
