
<h1>Edit Report Configuration</h1>
<!-- <ng-container  *ngIf="isReportsAvailable && isReportFormatAvailable && isReportDataAvailable else loading" [formGroup]="form"> -->
@if (isAllDataAvailable) {
  <ng-container  [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Report</mat-label>
      <mat-select formControlName="reportControl" >
        @for (report of reports; track report) {
          <mat-option [value]="report.value">
            {{report.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Format</mat-label>
      <mat-select formControlName="reportFormatControl"  >
        @for (format of reportFormats; track format) {
          <mat-option [value]="format.value" >
            {{format.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" [disabled]="form.pristine || form.invalid">Save</button>
  </ng-container>
} @else {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}