<h1>Customer Component</h1>
<mat-divider></mat-divider>
<div class="container-content-footer">
  @if (data$ | async; as data) {
    <app-customer [data$]="customer$" (onCustomerFormEmitter)="onCustomerFormHandler($event)"></app-customer>
  } @else {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <!-- <mat-card-actions class="actions">
  <div class="btns button-row">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button color="primary" (click)="discard()">Discard</button>
    <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
  </div>
</mat-card-actions> -->
<!-- <app-footer (onSave)="save()" (onDiscard)="discard()" (onRefresh)="refresh()"></app-footer> -->
<app-footer></app-footer>
</div>