
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Refactor Branching</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <p>
        <a color="primary" mat-raised-button routerLink="/unsub">Go to Component</a>
      </p> -->
      <mat-slide-toggle [checked]="isSliderOne">Slide One!</mat-slide-toggle> <br>
      <mat-slide-toggle [checked]="isSliderTwo">Slide Two!</mat-slide-toggle>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>