/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.btns{
  margin-top:auto;
}


.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
